.menu-page {
    text-align: center;
    h1 {
        font-size: 4rem;
        font-family: "Montserrat Underline", sans-serif;
        color:rgb(37, 21, 2);
        font-style: italic;
        padding: 0 20px;
    }

    .menu-container {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(800px, 1fr));
        gap: 20px;
        margin: 0 40px 40px 40px;

        .item-container {
            padding: 0 20px;
            background-color: rgb(193, 167, 145);
            border-radius: 20px;

            font-family: Verdana, Geneva, Tahoma, sans-serif;
            font-size: 1.2rem;

            .price {
                text-align: left;
                color: red;
            }
        }
    }
}